body {
  font-family: Courier New;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: #f0f0f0;
  padding: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #65c6ec;
}
