body {
  background: #000000;
  font-family: Courier New;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: #000000;
  padding: 20px;
}
h1 {
  color: #ffffff
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #65c6ec;
}
footer {
  color: #ffffff
}
